html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, 
#root {
  height: 100vh;
  margin: 0;
  text-align: center;
}

body, input, select, textarea {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  grid-area: header;
  font-size: 2.5rem;
  background-color: #4c6c8c;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: .5px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-areas: "headers" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

.nav-header {
  grid-area: header;
  background-color: #4c6c8c;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: .5px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: orange;
}


.card {
  text-align: center;
  padding: 2px;
  width: 20rem;
  height: 30rem;
  display: inline-grid;
  margin: 0rem 2rem;
  margin-bottom:10%;
  
}

button {
  margin:2px;
  padding: 10px;
  position: relative;
  background-color: black;
  border: none;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: whitesmoke;
  font-size: 100%;
  justify-self: top;
}

.button-container {
  display:inline-block;
  text-align: center;
  padding: 1rem;
}

.button-container a button {
  text-align: center;
  width: 50%;
  height: 50%;
  font-size: 75%;
  padding-bottom: 15px;
}

button:hover {
  background-color: white;
  border: #e04b52 solid 1px;
  color: black;
}


.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #515DA2;
  opacity: .8;
}

.product-image {
  justify-self: center;
  max-height: 200px;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,6.2);
}

.gallery {
  display: -webkit-flex;
  /* grid-template-rows: none; */
  height: 100%;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  -webkit-justify-content: center;
          justify-content: center;
}

.gallery > .card {
  text-align: center;
  padding: 2px;
  width: 15rem;
  height: 50%;
  display: inline-grid;
  margin: 0rem 2rem;
  border: none;
}

.itemDisplay {
  display: inline-flex;
  padding: 100px;
}

.itemDisplay button {
  height:50px;
  background-color:blue;
}

.itemDisplay img {
  padding-right: 100px;
  width: auto;
  max-height: 300px;
  max-width: 800px
}

.card-image {
  position: relative;
  
}

.corner-button {
  position: absolute;
   top: 0;
   right: 0;
 background-color: transparent;
 font-size: 15px;
 border: none;
 cursor: pointer;
 border-radius: 5px;
 text-align: top;
 height:16px;
 width: 16px;
 padding:0;
 margin-right:10;
}

.corner-button:hover {
  right: 10px;
background-color: transparent;
border: none;
 opacity:200%;
 font-size:20px;
}


.swag{
  background-color: green;
}

.card .title {
  width: 10em; height: 10em; overflow-y: hidden;
  text-overflow: ellipsis; white-space: prewrap;
  
}

/* the following is the css for the sliding menus*/

#container li {
  margin-bottom: 10px;
}

#roundButton {
  position: fixed;
  right: 0;
  top: 20px;
  background-color: black;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid silver;
  outline: none;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  z-index: 1000;
}

#roundButton:hover, #roundButton text:hover{

  cursor: pointer;
  
  transform: scale(1.2, 1.2);
}

#roundButton:active{
  border-color: black;
  background-color:silver;
}
/*  this is the css for the flyout menu */

#cartMenu {
  
    width: 50vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(150vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 1000;
    overflow: scroll;
      
}

#cartMenu h2,ul,li {
  color: silver;
  margin-right: 15px;
  text-decoration: none;
}

#cartMenu h2 a:hover {
  text-decoration: underline;
}  
#cartMenu button {
  background-color:silver;

  border: black solid 1px;
  color:black;
}     


#cartMenu.show {
  transform: translate3d(50vw, 0, 0);
}  

/* the following is css for the cart item display */

.cart-item {
  display: flex;
  width: 100%;
  padding: 5px;
}

.column {
  flex-direction: column;
  margin-right: 10px;
  flex: 1;
  border: 2px solid silver;
  max-width: 40vw;
}

.column div {
  
  font-size: 1.4rem;
  padding: 5px 0;
  
}

.cart-item .card {
  margin-left: 10px
}



.image img {
  display: block;
  padding: 5px;
  justify-self: center;
  height: 10vh;
  width: 10vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,6.2);
}



/* potential code to have main page display featured items
 */
/* 
 <!DOCTYPE html>
<html>
<head>
<style>
.parent {
display: grid;
grid-template-columns: repeat(3);

grid-column-gap: 13px;
grid-row-gap: 0px;
}
.mainPage-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 5vw 5vh vw;
  grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 13px;
grid-row-gap: 0px;
border: red solid 10px;
}

.mainPage-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 100%;
  overflow: hidden;
  overflow-wrap: anywhere;
  
  
}
</style>
</head>
<body>

<h1>The justify-content Property</h1>

<p>Use the <em>justify-content</em> property to align the grid inside the container.</p>

<p>The value "space-around" will give the columns equal amount of space around them:</p>

<div class="parent">

<div class="mainPage-container">
  <div class="image"><img src="http://lorempixel.com/702/200/"></div>
  
  <div class="column"><div>Name: Star Wars55</div><div>Price: $0.08</div></div>
  
  <div>Quanity: 1</div>
  
</div>

<div class="mainPage-container">
  <div class="image"><img src="http://lorempixel.com/702/200/"></div>
  
  <div class="column"><div>Name: Star Wars55</div><div>Price: $0.08</div></div>
  
  <div>Quanity: 1</div>
  
</div>
<div class="mainPage-container">
  <div class="image"><img src="http://lorempixel.com/702/200/"></div>
  
  <div class="column"><div>Name: Star Wars55</div><div>Price: $0.08</div></div>
  
  <div>Quanity: 1</div>
  
</div>




</div>


</body>
</html> */
 
.mainPageImage img{
max-width: 50vw;
  height: 10vh;
}


/* 
* Temp Repository for Unused CSS; attributes below may be useful above...

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

